#### Recap

In [2]:
pop = [125, 220, 390]
countries = ['Pakistan', 'India', 'United States']
In = countries.index('India')

In [3]:
In

1

In [5]:
pop[In]

220

This way of extracting values is not adaptable because:

- Not convenient
- Not intutive

#### Dictionaries

In [7]:
coun_pop = {'Pakistan': 125, 'India': 220, 'United States': 329}

In [8]:
coun_pop['Pakistan']

125

In [9]:
#Dictionaries take different data types in it
{0, 'Asad', True, 30.09}

{0, 30.09, 'Asad', True}

#### Question: How can we store that data in Python ?

- Numpy Array (absolutely <b>No</b> because in Numpy we save data of same type)

#### Answer: Pandas

- high level data manipulation
- Wes Mckinney
- built on Numpy
- Data Frame
- special concept of Seriesies

In [1]:
bricks = {"country": ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
         "capital": ['Brazilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
         "area": [8.516, 17.100, 3.286, 9.597, 1.221],
         "population": [200.40, 143.50, 1252.00, 1357.00, 52.98]}

Note: 

- key (columns, label)
- values (data, column by column)

In [2]:
import pandas as pd

In [3]:
df_bricks = pd.DataFrame(bricks)
df_bricks

        country    capital    area  population
0        Brazil   Brazilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [4]:
#for index changing values or variables
df_bricks.index = ['BR', 'RU', 'IN', 'CH', 'SU']
df_bricks

         country    capital    area  population
BR        Brazil   Brazilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SU  South Africa   Pretoria   1.221       52.98

### index and select data

- square brackets (method 1)
- advance methods
     - loc
     - iloc

In [5]:
#1d array
country = df_bricks['country']
country

BR          Brazil
RU          Russia
IN           India
CH           China
SU    South Africa
Name: country, dtype: object

In [6]:
# pandas series data/ 1d data
type(country)

pandas.core.series.Series

In [7]:
# 2d array
country = df_bricks[['country']]
country

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SU  South Africa

In [8]:
# pandas dataframe / 2d data
type(country)

pandas.core.frame.DataFrame

In [9]:
#for accessing multiple columns
#1d array or data does not access for multiple columns or rows
df_bricks['country', 'capital']

KeyError: ('country', 'capital')

In [12]:
#2d array or dataframe does have access to the multiple columns or rows
df_bricks[['country', 'capital']]

         country    capital
BR        Brazil   Brazilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SU  South Africa   Pretoria

In [13]:
df_bricks[['country', 'capital', 'population']]

         country    capital  population
BR        Brazil   Brazilia      200.40
RU        Russia     Moscow      143.50
IN         India  New Delhi     1252.00
CH         China    Beijing     1357.00
SU  South Africa   Pretoria       52.98

In [14]:
# pandas does not have any row columns syntax like numpy
df_bricks[['Br','IN' : 'capital', 'population']]

SyntaxError: invalid syntax (3511003086.py, line 2)

In [15]:
d = {'angles': [360, 180, 90],
     'names' : ['circle', 'triangle', 'scalene']}

In [16]:
d = pd.DataFrame(d)

In [17]:
d

   angles     names
0     360    circle
1     180  triangle
2      90   scalene

In [18]:
d.index = ['Cl', 'Tr', 'Sc']

In [19]:
df_bricks

         country    capital    area  population
BR        Brazil   Brazilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SU  South Africa   Pretoria   1.221       52.98

#### Row accessing through Index

In [20]:
df_bricks[1:2]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [21]:
df_bricks[3:]

         country   capital   area  population
CH         China   Beijing  9.597     1357.00
SU  South Africa  Pretoria  1.221       52.98

In [22]:
df_bricks[2:, :] # test numpy access method for sepcifiec rows and columns ->> Error

InvalidIndexError: (slice(2, None, None), slice(None, None, None))

#### Question What if we want specific columns and rows ?

key point about [ ] suare brackets

- square brackets have limited functionality
- ideally
     - Remembe <b>2D Numpy array</b> in numpy
     - my_arr[row, col] 
- pandas
     - loc (label based)
     - iloc (index based)

In [23]:
df_bricks

         country    capital    area  population
BR        Brazil   Brazilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SU  South Africa   Pretoria   1.221       52.98

In [24]:
#for accessing row
df_bricks.loc['BR']

country         Brazil
capital       Brazilia
area             8.516
population       200.4
Name: BR, dtype: object

In [25]:
# Not for accessing specific column in 1d array or series data
df_bricks.loc['country']

KeyError: 'country'

In [26]:
# 1d array or data cannot contain multiple row in loc
df_bricks.loc['BR', 'IN']

KeyError: 'IN'

In [27]:
#Solution :-> 2d array or dataframe
df_bricks.loc [['BR','IN']]

   country    capital   area  population
BR  Brazil   Brazilia  8.516       200.4
IN   India  New Delhi  3.286      1252.0

In [28]:
#for specifc rows and columns in a data frame
df_bricks.loc[['IN', 'CH'],['capital', 'population']]

      capital  population
IN  New Delhi      1252.0
CH    Beijing      1357.0

In [29]:
#another way to get data is indexing in loc 
df_bricks.loc['RU':'CH']

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [30]:
print(type(df_bricks.loc['RU':'CH']))

<class 'pandas.core.frame.DataFrame'>

In [31]:
# indexing in loc with accessing specific column/s
df_bricks.loc['RU': 'CH', 'capital']

RU       Moscow
IN    New Delhi
CH      Beijing
Name: capital, dtype: object

In [32]:
df_bricks.loc['BR','capital']

'Brazilia'

In [33]:
df_bricks.loc['RU':'IN', ['capital']]

      capital
RU     Moscow
IN  New Delhi

In [34]:
df_bricks.loc['CH':'SU' , ['capital']]

     capital
CH   Beijing
SU  Pretoria

In [35]:
df_bricks.loc['CH':'SU', 'capital':'population']

     capital   area  population
CH   Beijing  9.597     1357.00
SU  Pretoria  1.221       52.98

In [36]:
#for all rows with specific column/s
df_bricks.loc[:,['country', 'area']]

         country    area
BR        Brazil   8.516
RU        Russia  17.100
IN         India   3.286
CH         China   9.597
SU  South Africa   1.221

In [37]:
#for specific row/s with all columns
df_bricks.loc['RU' : 'CH',:]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

#### Row accessing through iloc

In [39]:
df_bricks

         country    capital    area  population
BR        Brazil   Brazilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SU  South Africa   Pretoria   1.221       52.98

In [40]:
df_bricks.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [41]:
df_bricks.iloc[[2,3,4]]

         country    capital   area  population
IN         India  New Delhi  3.286     1252.00
CH         China    Beijing  9.597     1357.00
SU  South Africa   Pretoria  1.221       52.98

In [42]:
df_bricks.iloc[[1,2,4],[1,2]]

      capital    area
RU     Moscow  17.100
IN  New Delhi   3.286
SU   Pretoria   1.221

In [48]:
df_bricks.iloc[2:,[1,3]]

      capital  population
IN  New Delhi     1252.00
CH    Beijing     1357.00
SU   Pretoria       52.98

#### Self Case Assesment or Study

In [49]:
import pandas as pd

In [111]:
cars = pd.read_csv('cars.csv')
cars.index = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']
cars

    Unnamed: 0  cars_per_cap        country  drives_right
US          US           809  United States          True
AUS        AUS           731      Australia         False
JPN        JPN           588          Japan         False
IN          IN            18          India         False
RU          RU           200         Russia          True
MOR        MOR            70        Morocco          True
EG          EG            45          Egypt          True

In [114]:
sales = cars.loc['US':'MOR',['cars_per_cap','country']]

In [121]:
sale = sales['cars_per_cap']

In [122]:
sale

US     809
AUS    731
JPN    588
IN      18
RU     200
MOR     70
Name: cars_per_cap, dtype: int64

In [142]:
cars.loc[cars['cars_per_cap'] > 500, 'cars_per_cap'] = 'updated'
print(cars)

    Unnamed: 0 cars_per_cap        country  drives_right
US          US      updated  United States          True
AUS        AUS      updated      Australia         False
JPN        JPN      updated          Japan         False
IN          IN           18          India         False
RU          RU          200         Russia          True
MOR        MOR           70        Morocco          True
EG          EG           45          Egypt          True

C:\Users\Asad\AppData\Local\Temp\ipykernel_4296\2948485919.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'updated' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cars.loc[cars['cars_per_cap'] > 500, 'cars_per_cap'] = 'updated'